@use '../utils/variables' as v;
@use '../utils/mixins';

footer {
    background-color: v.$darkblue;
    padding: 35px;
    line-height: 1.5;

    p {
        color: v.$lightblue;
        text-align: center;
    }
}