@use '../utils/variables' as v;
@use '../utils/mixins';

.home-hero-section {
    padding: 60px 20px 40px;

    h1 {
        color: v.$title;
        text-align: center;
        margin-bottom: 40px;

        @include mixins.tablet {
            font-size: 2.5rem;
        }

        @include mixins.tablet-xl {
            font-size: 3rem;
        }

        @include mixins.laptop {
            font-size: 3.5rem;
        }

        @include mixins.desktop {
            font-size: 4rem;
        }

        .br-display {
            display: none;

            @include mixins.tablet {
                display: inline-block;
            }
        }
    }

    .home-cta-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        @include mixins.tablet {
            flex-direction: row;
            gap: 30px;
            margin: 0 150px;
        }

        @include mixins.tablet-xl {
            margin: 0 210px;
        }

        @include mixins.laptop {
            margin: 0 280px;
        }

        @include mixins.desktop {
            margin: 0 340px;
        }

        @include mixins.desktop-xl {
            margin: 0 400px;
        }
    }
}

.home-introduction-section {
    background-color: v.$lightgrey;

    .introduction-container {
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @include mixins.tablet {
            flex-direction: row;
        }

        @include mixins.tablet-xl {
            gap: 50px;
        }

        @include mixins.laptop {
            padding: 60px 85px;
        }

        @include mixins.desktop {
            padding: 60px 140px;
            gap: 70px;
        }

        @include mixins.desktop-xl {
            padding: 60px 175px;
        }

        .img-container {
            width: 200px;
            height: 200px;
            flex-shrink: 0;
            border: 15px solid v.$txt;
            border-radius: 10px;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .txt-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            @include mixins.tablet {
                align-items: flex-start;
                justify-content: space-between;
                align-self: stretch;
                gap: unset;
            }

            .availability-content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 10px 12px;
                gap: 8px;
                background-color: v.$white;
                border: 1px v.$green solid;
                border-radius: 0 20px 0 20px;
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);

                .availability-content-point {
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    background-color: v.$green;
                }

                p {
                    color: v.$green;
                }
            }

            .presentation-content {
                text-align: center;

                @include mixins.tablet {
                    text-align: start;
                }

                p {
                    color: v.$txt;

                    &.presentation-content-iam {
                        font-size: 20px;
                        margin-bottom: 12px;

                        @include mixins.desktop {
                            font-size: 24px;
                            margin-bottom: 8px;
                        }
                    }

                    &.presentation-content-name {
                        font-size: 24px;
                        margin-bottom: 20px;
                        font-weight: 700;

                        @include mixins.desktop {
                            font-size: 32px;
                            margin-bottom: 15px;
                        }

                    }

                    &.presentation-content-spe {
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}